@import url(https://coolors.co/20bf55-0b4f6c-01baef-fbfbff-757575);
:root {
    --primary-color: #fbfbff;
    --secondary-color: #01baef;
    --accent1-color: #0b4f6c;
    --accent-color: #20BF55;

    --heading-font:'Pacofico', serif;
    --paragraph-font:'Not serif Google', serif;

    --nav-background-color: #20bf55;
    --nav-link-color: #0b4f6c;
    --nav-hover-link-color: #20bf20;
    --nav-hover-background-color: #01baef;

}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background:var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display:  block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
